<app-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLink="">
              <a class="nav-link">Components <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLink="directives">
              <a class="nav-link">Directives</a>
            </li>
            <li class="nav-item dropdown" routerLink="services">
              <a class="nav-link">Services</a>
            </li>
            <li class="nav-item dropdown" routerLink="pipes">
              <a class="nav-link">Pipes</a>
            </li>
          </ul>
        </div>
      </nav>
</app-toolbar>

<router-outlet></router-outlet>