<app-accordian [accordianItems]="accordianItems"></app-accordian>

<app-card>
  <p header #header>Header</p>
  <p body>Body</p>
  <p footer>Footer</p>
</app-card>
<!-- <button (click)="childComp.hello()">Click</button>
<app-credit-card-input #childComp [name]="'Pratyush Singh'"[creditCardNumber]="'3234567812345678'" [isReadonly]="false"></app-credit-card-input>
<br>
<app-credit-card-input [creditCardNumber]="'1234567812345678'" [isReadonly]="true"></app-credit-card-input>
<app-sort-table></app-sort-table>
<app-async-await></app-async-await> -->